* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: #530101;
    display: grid;
    place-items: center;
    box-shadow: inset 0px 0px 10px #000;
}

.portfolio {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #04050c;
    
    position: absolute;
    top: 0;
    width: 100vw;
    height: 60px;

    box-shadow: 0px 0px 10px #000;
}

.portfolio a {
    display: flex;
    text-align: center;
    align-items: center;

    background-color: #090c31;
    padding: 5px 15px;
    margin-right: 7vw;
    border-radius: 24px;
    box-shadow: 2px 2px 0px #000;

    text-decoration: none;
}

.portfolio h3 {
    color: #fff;
    margin-left: 5px;
}

article {
    margin-top: 70px;
}

article header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px 0;
    padding: 10px 0;
    background-color: #04050c;
    color: #fff;
    text-shadow: 1px 1px #000;
    border-radius: 16px;
    box-shadow: 0px 0px 10px #000;
    border: 2px solid #4e4e4e21;
}

header img {
    width: 40px;
}

.img-1 {
    margin-right: 20px;
}

.img-2 {
    margin-left: 20px;
}

header h1 {
    font-size: 26px;
}

header p {
    opacity: 0.7;
    font-size: 12px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #0d1025;
    color: white;
    width: 90vw;
    max-width: 350px;
    padding: 1.5rem;
    margin-bottom: 15px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;

    box-shadow: 0px 0px 5px #000;
    border: 2px solid #4e4e4e21;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #101553;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;

    overflow-wrap: break-word;
}

.btn {
    background-color: #1d1d41;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #090c31;
}

.img img {
    width: 20px;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover {
    background-color: #e65766;
}